<uL>
	<li> <a href="/solar?system_size=4&lat=38&lon=-77">/solar?system_size=4&lat=38&lon=-77</a>
	<li> <a href="/solarcalculator?system_size=4&lat=38&lon=-77">/solarcalculator?system_size=4&lat=38&lon=-77</a>
</ul>