<uL>
	<li> <a href="/solar?system_size=4&lat=38&lon=-77">/solar?system_size=4&lat=38&lon=-77</a>
	<li> <a href="/solarsavings?system_size=4&lat=38&lon=-77">/solarsavings?system_size=4&lat=38&lon=-77</a>
</ul>